a {
    border:double 10px;
    padding:10px;
}
#a{
margin-top: 100px;
}
 #b{
margin-top: 100px;
}
 #c{
margin-top: 100px;
}
 #d{
margin-top: 100px;
}
 #e{
margin-top: 100px;
}
 #f{
margin-top: 100px;
}
