div.HiddenText 
{
display: none;
}
div.Grad
{
  margin-top:42px;
  margin-left: -8px;
  position: fixed;
  height: 7%;
  width: 100%;
  background-image: linear-gradient( rgba(51,51,51,1), rgba(51,51,51,0));
  z-index:-1;
}
h1.titleHead
{
  color: #333;
  padding-top: 30px;
  height: 5px;
  text-align: center;
  margin-top: -0px;
  background-image: linear-gradient( rgba(51,51,51,1), rgba(51,51,51,0));
  margin-left:-8px;
}
body
{
  background-color:rgb(140,140,140);
}
@font-face
{
font-family: 'robot';
src: url(Resuroses/8bitOperatorPlus-Regular.ttf);
font-style:normal;
}
//div.Header
//{
//background-image: url("https://wallpapercave.com/wp/Sg7oTrX.jpg");
//background-size: 100%;
//max-height: 125%;
//margin-left:-8px;
//max-width:125%;
//}
h1.ProLang
{
  text-align:center;
}
div.HeaderText
{
  text-align:center;
  padding-top:50px;
}
div.ListTitle
{
   font-size:200%;
   margin-left:0px;
   background-color:white;
   background-image:white ;
   border-style:double;
   border-width:10px;
   border-color:#333;
}
div.subitem
{
  margin-left:40px;
  font-size:50%;
}
.ProBioCell
{
  border-style:solid;
  border-color:#333;
  border-width:5px;
  background-color:white;
  margin-bottom:10px;
  margin-right:10px;
  border-radius: 7.5px;
}
div.proBio
{
  margin-left:20px;
  margin-top:10px;
}
/* Added code from online */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  //overflow: hidden;
  margin-top:-8px;
  margin-left:-8px;
  width: 105%;
  position: fixed;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/* Dropdown Button */
.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
  display: block;
  }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/* end of added code */








.dropbtn-Py {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-Py {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-Py-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left:110px;
  margin-top:-100px;
}

/* Links inside the dropdown */
.dropdown-Py-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-Py-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-Py:hover .dropdown-Py-content 
{
  display: block;
  }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-Py:hover .dropbtn-Py {background-color: rgb(0, 143, 7);}
//Start of Small Basic code not added by online but edited from online
.dropbtn-sb {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-sb {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-sb-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left:110px;
  margin-top:-100px;
}

/* Links inside the dropdown */
.dropdown-sb-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-sb-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-sb:hover .dropdown-sb-content 
{
  display: block;
  }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-sb:hover .dropbtn-sb {background-color: rgb(0, 143, 7);}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    font-family: robot ;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}
/* end of added code */