p {
  font-size: 100px;
}
div.menu {
  display: grid;
  
  grid-column-gap: 0px;
  margin-top:-100px;
  margin-left:-10px;
  position: fixed;
  width:100%;
}
.title {
  text-align: center;
  margin-top: 100px;
  font-size: 240%;
  border:double black;
  padding:40px;
}
a.menLin{
    width:100%;
   // background: linear-gradient(#00FF00,green);
}
.homeBut , .WebBut, .ProBut{
    width:100%;
    text-align: center;
}
body {
  background-color: gainsboro;
}
a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 165%;
}
 .WebBut ,.ProBut {
grid-row-start: 0;
grid-row-end: 1;
    width:100%;
    background: linear-gradient(#999999,#000000);
    padding:10;

}
.homeBut{
    grid-row-start: 0;
grid-row-end: 1;
    width:100%;
    background: linear-gradient(#00FF00,green);
    padding:10;
}
div.img1 {
    padding:10px;
    background-color: white;
    width:300px;

}
div.img2 {
    padding:10px;
    background-color: white;
    width:300px;

}
.img1I {
    z-index: -100;
}
div.Img1 {
border-radius: 10px;
grid-template-rows:  repeat(2,auto);
grid-template-columns: 400px;
grid-column-start: 2;
grid-column-end: 4;
} 
.Textimg {
    font-size: 30px;
    position: absolute;
    margin-top:-125;
    margin-left:111;
    color: white;
    z-index: 12;
}
.Textimg1 {
    font-size: 30px;
    position: absolute;
    margin-top:-125;
    margin-left:111;
    color: black;
    transform: scale(1.1);
    width: 60px;
    z-index: 0;
}
//.Item3 {
//grid-row-start: 0;
//grid-row-end: 1;
//grid-column-start: 3;
 //   grid-column-end: 4;

//}
div.itemGridWeb{
    display: grid;
      grid-template-columns: repeat(4, 400px);
  grid-template-rows: minmax(auto,auto) repeat(5,auto);
}
img {
        max-width: 300px;
transition: 1.75s ease;
padding-bottom: 10px;
    padding-top: 10px;
}
img:hover{
   transform: scale(1.08);
    transitoin: all;
    transition-duration: .5s;

}
div.itemGridWeb {
    padding-top:60;
}
div.homeBut:hover {
    background: linear-gradient(#CCCCCC,#555555);
}
div.WebBut:hover {
    background: linear-gradient(#CCCCCC,#555555);
}
div.ProBut:hover {
    background: linear-gradient(#CCCCCC,#555555);
}