ul.hexList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  top: 0;
  width: 100%;
}
ul.hexList li a{
color:white;
text-decoration: none;

}
ul.hexList li{
padding: 10px;

}