#titleHead {
    text-align: center;
    font-size: 240%;
    font-family: sans-serif;
}
#subtitle {
    text-align: center;
    border:soild 5px black;
    font-size: 80%;
    font-family: fantasy;
}
@font-face {
  font-family: "Fairland";
  src: local("Fairland");
}
div.parent {
border: 5px outset blue;
    border-bottom-color: aqua;
        border-right-color: aqua;

}
div.child {
    background-image:url(Img/donuts.jpg);
        background-attachment: fixed;
    position:absolute;
    width: 97%;
    height: 150px;
    background-repeat: repeat-x;
    z-index: -2;
    margin-top: -150px
}
