
.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}
/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1 {
  background-image: url('https://placekitten.com/g/900/700');
    filter:blur(2px);
    background-repeat:no-repeat;
}

.bg2::after {
  background-image: url('https://placekitten.com/g/800/600');
}
